language: python

branches:
  except:
    - gh-pages

cache:
  directories:
    - "${HOME}/virtualenv"
    - "${TRAVIS_BUILD_DIR}/.tox"

python:
  - 2.6
  - 2.7
  - 3.3
  - 3.4
  - 3.5
  - 3.6
  - pypy

matrix:
  fast_finish: true
  allow_failures:
    - python: 3.6

install:
  - pip install tox
  - pip install tox-travis

script:
  - tox
  - "find ${TRAVIS_BUILD_DIR}/.tox -name log -type d | xargs -I {} rm -rf {}"

